{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Movie Collector</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <img src="{% static 'css/images/icon.png' %}" alt="The Movie Collector Logo" />
          <h1>The Movie Collector</h1>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="/movies">All Movies</a></li>
            <li><a href="/movies/create">Add Movie</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'movies:logout' %}">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>
            </li>    
            <li><a href="{% url 'movies:about' %}">About</a></li>
      
            {% else %}
            <li><a href="{% url 'movies:movie_index' %}">Login</a></li>  
            <li><a href="{% url 'movies:signup' %}">Sign Up</a></li>
            <li><a href="{% url 'movies:about' %}">About</a></li>
            {% endif %}

        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>