{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy cat" />
  </div>
  <div class="cat-details">
    <h1>{{ movie.title }}</h1>
    <h2>Genre: {{ movie.genre }}</h2>
    <h2>Release Year: {{ movie.release_date }}</h2>
    {% if movie.image_url %}
      <img src="{{ movie.image_url }}" alt="{{ movie.title }} Poster" class="usr-img">
    {% endif %}
    <p>{{ movie.description }}</p>
    <div class="cat-actions">
      <a href="{% url 'movies:movie_update' movie.id %}" class="btn warn">Edit</a>
      <a href="{% url 'movies:movie_delete' movie.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<!-- Existing cat-container above -->
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Characters</h2>
      <img
        src="{% static 'images/cat-cone.svg' %}"
        alt="An ice cream cone cat"
      />
      <img src="{% static 'images/cat-onigiri.svg' %}" alt="A cat as onigiri" />
      <img
        src="{% static 'images/kitty-kabob.svg' %}"
        alt="A kabob of kittens"
      />
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        {% for Characters in movie.characters_set.all %}
          <tr>
            <td>{{Characters.name}}</td>
            <td>{{Characters.get_gender_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>


{% endblock %}